# Datasets
data/

# TAR archives
**/*.tar.gz
**/*.tgz

# Python files
**/__pycache__
venv

# Output files
event_inference/ip_host/
event_inference/model/

# Logs
**/*.log
**/*.error
event_inference/logs/decode_logs
event_inference/logs/log_unknown_routines-filtered-std

# Temp files
test.sh
test.py
